<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>Hello word with view engine</h1>
    <img
      src="images/HD-wallpaper-anime-lelouch-lamperouge-code-geass.jpg"
      alt=""
    />
    <h2><%= massage %></h2>
  </body>
</html>
